<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <title>CONTEXTO</title>
  </head>
  <body>
    <div class="menu"></div>

    <div class="margin">
      <h1 class="titulo">CONTEXTO HISTÓRICO</h1>

      <div class="texto-imagem">
        <div class="texto">
          <p>
            Em meados do século XIX, durante o Período Regencial, muitas
            revoltas ocorreram no país. Após a independência em 1822, muitos
            conflitos e divergências surgem. A insatisfação dos escravizados se
            espalhou pela Bahia, por dois motivos:
          </p>

          <li>
            O sistema político e econômico (baseada na mão de obra escravizada)
            que reinava no país;
          </li>

          <li>
            A luta pela liberdade religiosa, posto que eram obrigados a
            participarem dos cultos católicos.
          </li>

          <p>
            Diferentemente das outras revoltas estudadas onde os motivos eram:
          </p>

          <li>Do trabalho forçado</li>
          <li>
            Das humilhações, torturas e violências físicas e psicológicas;
          </li>
          <li>Das péssimas condições de vida, dos abusos sexuais</li>
          <li>E, consequentemente, almejavam o fim da escravidão no país.</li>
        </div>

        <img class="imagem" src="/images/1.jpg" alt="AAAA" />
      </div>

      <div>
        <p>
          A Revolta dos Malês, foi a
          <b>maior revolta de escravos da história brasileira</b>, ocorreu em
          Salvador, província da Bahia, na noite de 24 de janeiro de 1835,
          liderada por Pacífico Licutan, Manuel Calafate e Luís Sanim.
        </p>
        <p>
          Ela foi uma rápida rebelião organizada pelos escravos de origem
          islâmica (sobretudo das etnias hauçá e nagô). Eles buscavam
          principalmente a liberdade religiosa e o fim dos castigos físicos. 600
          escravos africanos, os quais lutavam pela libertação dos negros de
          origem islâmica.
        </p>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
