<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <title>DIFERENÇA</title>
  </head>
  <body>
    <div class="menu"></div>

    <div class="margin">
      <h1 class="titulo">DIFERENÇA ENTRE AS OUTRAS REVOLTAS</h1>

      <h2>Descendencia do seu povo</h2>
      <div class="texto-imagem">
        <img class="imagem" src="/images/2.jpg" />
        <div class="texto">
          <p>
            Diferente de outras rebelioes escravas, a Revolta dos Malês se
            destacou pela forte presença de africanos muçulmanos, cuja a fé e
            cultura contribuiram para a organização e determinação do movimento.
          </p>

          <p>
            Os malês eram estudiosos, sabiam ler e escrever em árabe e fazer
            contas, assim eles trabalhavam dentro da área urbana, no comércio
            vendendo frutas, ou como sapateiros, ferreiros, pedreiros. Fato que
            lhes garantia maior mobilidade para circular pela cidade e se
            comunicar com outros escravizados malês e organizar reuniões com os
            levantes.
          </p>

          <p>
            Estes negros foram a prova da grande capacidade de mobilização que
            havia entre os escravizados. Com estratégia e ousadia, conseguiam
            incitar escravizados a participar da revolta.
          </p>

          <p>
            Uma destas estratégias foi distribuir panfletos escritos em árabe –
            isso foi uma maneira de divulgar o planejamento do levante sem que
            os patrões descobrissem as reais intenções do grupo.
          </p>
        </div>
      </div>

      <div>
        <h2>Seu principio</h2>

        <p>
          A data escolhida foi a manhã do dia 25 de janeiro de 1835, pois é o
          dia da festa conhecida como Lailat al-Qadr, a Noite da Glória, que
          comemora o dia em que o Corão foi revelado para Maomé.
        </p>

        <p>
          Cerca de 600 negros, entre escravizados e libertos, se armaram de paus
          e lanças e iniciaram a Revolta dos Malês, que era formada
          exclusivamente por negros africanos.
        </p>

        <h4>Seus planos ambiciosos</h4>

        <il>
          seus planos eram

          <div class="topics">
            <li>
              Tomar a cidade de Salvador e engenhos de açúcar e fumo para
              libertar todos os escravos africanos;
            </li>
            <li>
              Acabar com o catolicismo, recolher as imagens das igrejas e
              queimá-las em praça pública;
            </li>
            <li>
              Assassinar as pessoas brancas por envenenamento e confiscar seus
              bens e incendiar suas casas;
            </li>
            <li>
              Além de tomar o poder do império, assumir o controle da cidade e
              encerrar o regime escravista local. Porém planejavam escravizar
              qualquer pessoa que não fosse muçulmana, consequentemente brasi
              leiros negros e mestiços.
            </li>
          </div>
        </il>

        <p>
          Eles reivindicavam por liberdade para expressar sua religião sem
          qualquer restrição. Pois no Brasil do século XIX, com exceção do
          cristianismo, todas as religiões eram consideradas profanas.
        </p>

        <p>
          Isso era uma tentativa do governo da época de acabar com qualquer
          relação do escravizado com sua terra natal e sua ancestralidade. Desta
          forma apagavam a identidade dos negros que chegavam ao Brasil.
        </p>

        <p>
          Desta forma, os malês planejavam fundar uma república islâmica
          ortodoxa na Bahia, que dominaria a princípio a cidade de Salvador e o
          Recôncavo baiano e posteriormente iriam dominar o estado de
          Pernambuco, após libertar todos os escravizados muçulmanos.
        </p>
        <div class="texto-imagem">
          <img class="imagem-direita" src="/images/3.jpeg" />
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
