<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <title>Revoltas</title>
  </head>
  <body>
    <div class="menu">
      <div></div>
    </div>
    <p></p>
    <a href="/titulos"></a>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
