<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <title>RELIGIÃO</title>
  </head>
  <body>
    <div class="menu"></div>

    <div class="margin">
      <h1 class="titulo">A RELIGIÃO NO MOVIMENTO</h1>

      <div class="texto-imagem">
        <img class="imagem" src="/images/7.jpg" alt="aa" />

        <div class="texto">
          <p>
            A revolta está totalmente ligada à religião, uma vez que foi causa
            pela imposição do catolicismo e a repressão do islamismo.
          </p>

          <p>
            A data de 24 para 25 de janeiro foi decidida pelo líderes, já quer
            era o mês do Ramadã, que é um período sagrado para os mulçumanos.
          </p>

          <p>
            Objetivos eram: <br />
            Defender e manter as crenças, cultos e costumes;<br />
            A busca pela liberdade religiosa e fim dos castigos físicos;<br />
            Estabelecer uma república islâmica na Bahia.
          </p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
