<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <title>RESULTADO</title>
  </head>
  <body>
    <div class="menu"></div>

    <div class="margin">
      <h1 class="titulo">RESULTRADO DA REVOLTA</h1>

      <div class="texto-imagem">
        <div class="texto">
          <h2>Motivos par o fracasso:</h2>
          <li>Os malês foram delatados para as autoridades;</li>
          <li>A superioridade bélica das tropas imperiais.</li>

          <h2>Consequências:</h2>
          <li>Morte de 70 dos africanos;</li>
          <li>Líderes foram condenados à morte;</li>
          <li>
            Foram fuzilados, açoitados ou condenados a trabalhos forçados;
          </li>
          <li>Nove mortes nas forças.</li>

          A revolta eclodiu abruptamente na madrugada do dia 25 de janeiro,
          porque a trama havia sido denunciada e todo o planejamento ruiu-se.
        </div>
        <img class="imagem" src="/images/8.jpg" alt="AAAA" />
      </div>

      <div></div>
    </div>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
